body{
    background-color: #ffffff;
}
.Img_logo{
    /* display: none; */
    position: absolute;
    width: 85px;
    height: 60px;
    padding-left: 10px;
    top: 69px;
    left: 0px;
}

.jewelery_img{
    position: absolute;
     width: 1358px;
    height:300px ; 
    top: 56px;
    left: 0px;
} 
input[type="text"] {
    position: absolute;
    /* top: 2px; */
    top: 60px;

    left: 450px;
    width: 500px;                  
    padding: 10px 100px;        
    margin: 5px;                  
    font-size: 16px;               
    border: 5px solid #ffffff;        
    border-radius: 25px;           
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    outline: none;              
    transition: all 0.3s ease-in-out; 
    border: none;
    /* border-radius: 10px 0 0 10px; */
    background-color: #ffffff;
}


input[type="text"]:focus {
    border-color: #b28c6b;      
    /* box-shadow: 0px 6px 10px rgba(101, 55, 10, 0.3);  */
}


input[type="text"]:hover {
    border-color: #b28c6b;        
}


input[type="text"]::placeholder {
    color: #aaa;                   
    font-style: italic;           
} 

.Img_icon{
    position: absolute;
    height: 40px;
    width: 36px;
    left: 900px;
    top: 67px;
}
